
//Parallax

.banner-container
    position: relative
    height: 500px
    background: 
        image: url(../images/Banner/Banner_BG_Blur.png)
        //size: contain
        position:  center
        repeat: no-repeat
        attachment: fixed
    overflow: hidden

.banner-title
    height: 300px
    width: 100%
    position: absolute
    top: 15%
    margin-top: -50px
    background:
        image: url(../images/Banner/Banner_Title.png)
        position: center
        repeat: no-repeat
        
.banner-cast
    height: 100%
    width: 100%
    position: absolute
    top: 30%
    margin-top: -10px
    background:
        image: url(../images/Banner/Banner_Cast0.png)
        position: bottom
        repeat: no-repeat


.col-sm
    margin-bottom: 30px
    position: relative 
    opacity: 0
    transform: translateX(-20px)
    transition: all 0.3s ease-in-out

    &.isShowing
        opacity: 1
        transform: translateX(0px)





    
